
    <main class="container_client_machine">

        <!-- ##################################################### -->
        <!-- #######   PAGE ANALYSE CPE MENSUEL Combiné   ######## -->
        <!-- ##################################################### -->
        <div class="client_machine_page">
            <div class="titre">
                <h1>Résultat CPE Mensuel<br>Électricité</h1>
            </div>

            <div class="chiffres-cles">
                <h3 class="chiffres">CHIFFRES</h3>
                <h3 class="cles">CLÉSCHIFFRES</h3>
                <h2 class="pourcentage">{{valeurs("performance_contrat_percent_elec_val") | virgule1 }} %</h2>
                
                <div class="support_engagement">
                    <p class="eco_surconso">{{valeurs("eco_surconso") }} pour un engagement <br>non contractuel de</p>
                    <!-- <h2 class="pourcentage-contrat" style="color: #00a250;">{{valeurs("engagement_contract_elec_val") }} %</h2> -->
                    <h2 class="pourcentage-contrat" style="color: {{valeurs('engagement_color')}}">{{ engagement_contract_elec_val }} %</h2>
                </div>
            </div>
            
            <div class="ajustement"></div>

            <div class="support-conso">
                <div class="support-conso_colonne-gauche">
                    <p>Consommation Prédite sans AEE de</p>
                    <p>Consommation Réelle de</p>
                    <hr class="hr-conso">
                    <p>Soit {{ valeurs("gain_perte_elec") }} de</p>
                </div>
                
                <div class="support-conso_colonne-droite">
                    <p>{{ valeurs("modele_predictif_elec_val") | virgule1 }} <span class="unite">{{valeurs("modele_predictif_elec_unit")}}</span></p>
                    <p>{{ valeurs("consommation_reelle_elec_val") | virgule1 }} <span class="unite">{{valeurs("consommation_reelle_elec_unit")}}</span></p>
                    <hr class="hr-resultat">
                    <p>{{ valeurs("performance_contrat_kwh_elec") | virgule1 }} <span class="unite">MWh</span></p>
                </div>
            </div>
                     
            <div class="ajustement"></div>
            
            <div class="support-graphique">
                <h2>Superposition des consommations - {{ periode_client }}</h2>
                <img class="graphic_image" src="{{ superposition_predictif_reelle_quercy }}" alt="superposition_predictif_reelle-picture">
            </div>

            <hr class="bottom_hr_bleu">
            <p class="bas_page">{{ name_client }} <b>|</b> Rapport de Performance Énergétique <b>|</b> {{ periode_client }}</p>
        </div>


        <!-- ################################################## -->
        <!-- #######   PAGE ANALYSE CPE ANNEE Combiné   ####### -->
        <!-- ################################################## -->
        <div class="client_machine_page">
            <div class="titre">
                <h1>Résultat CPE Annuel<br>Électricité</h1>
            </div>

            <div class="chiffres-cles">
                <h3 class="chiffres">CHIFFRES</h3>
                <h3 class="cles">CLÉS</h3>
                <h2 class="pourcentage">{{ valeurs("performance_contrat_percent_elec_year_val")| virgule1  }} %</h2>
                
                <div class="support_engagement">
                    <p class="eco_surconso">{{ valeurs("eco_surconso_year") }} pour un engagement <br>non contractuel de</p>
                    <!-- <h2 class="pourcentage-contrat" style="color: #00a250;">{{ valeurs("engagement_contract_elec_year_val") }} %</h2> -->
                    <h2 class="pourcentage-contrat" style="color: {{valeurs('engagement_color')}}">{{ engagement_contract_elec_year_val }} %</h2>
                </div>
            </div>    

            <div class="ajustement"></div>


            <div class="support-conso">
                <div class="support-conso_colonne-gauche">
                    <p>Consommation Prédite sans AEE de</p>
                    <p>Consommation Réelle de</p>
                    <hr class="hr-conso">
                    <p>Soit {{ valeurs("gain_perte_elec_year") }} de</p>
                </div>
                
                <div class="support-conso_colonne-droite">
                    <p>{{ valeurs("modele_predictif_elec_year_val")| virgule1  }} <span class="unite">{{valeurs("modele_predictif_elec_year_unit")}}</span></p>
                    <p>{{ valeurs("consommation_reelle_elec_year_val")| virgule1  }} <span class="unite">{{valeurs("consommation_reelle_elec_year_unit")}}</span></p>
                    <hr class="hr-resultat">
                    <p>{{ valeurs("performance_contrat_kwh_elec_year")| virgule1  }} <span class="unite">MWh</span></p>
                </div>
            </div>


            <div class="ajustement"></div>


            <div class="support-graphique">
                <h2>Superposition des consommations de {{date_debut_cpe_annuel}} à {{ periode_client }}</h2>
                <img class="graphic_image" src="{{ superposition_predictif_reelle_year_quercy }}" alt="superposition_predictif_reelle-picture">
            </div>

            <hr class="bottom_hr_bleu">
            <p class="bas_page">{{ name_client }} <b>|</b> Rapport de Performance Énergétique <b>|</b> {{ periode_client }}</p>
            <!-- <p class="bas_page">{{ name_client }} <b>|</b> Rapport de Performance Énergétique <b>|</b> Mars 2024 - {{ periode_client }}</p> -->
        </div>       
    </main>
