
    <main class="container_index">
        <div class="container_index_secondaire">
            <h1>Contact</h1>
            <h2>Flashez, pour contacter<br>Thibaut DELANNOY</h2>
            <div class="support_qr_code">
                <img src="../images/qr_thibaut.png" alt="qr-code">
            </div>
            <div class="support_lien_donnees">
                <img src="../images/doigt_creme_1.png" alt="icone-doigt">
                <a href="https://view.preprod.fitt-solutions.fr/d/eepxhrveqt81sa/cdu-suivi-energetique?orgId=7" target="_blank">Vos données en temps réel</a>
            </div>
            <div class="support_lien_site">
                <img src="../images/doigt_creme_2.png" alt="icone-doigt">
                <a href="https://www.fitt-solutions.io/" target="_blank">fitt-solutions.io</a>
            </div>

            <div class="support_logo_fitt">
                <img src="../images/Logo-FiTT-RVBetBLANC.png" alt="Logo-FiTT-baseline-RVB" class="logo_fitt">
            </div>
        </div>
    </main>
</body>
</html>