
    <main class="container_client_machine">

        <!-- ##################################################### -->
        <!-- #######   PAGE ANALYSE CPE MENSUEL Combiné   ######## -->
        <!-- ##################################################### -->
        <div class="client_machine_page">
            <div class="titre">
                <h1>Résultat CPE Mensuel<br>Électricité</h1>
            </div>

            <div class="chiffres-cles">
                <h3 class="chiffres">CHIFFRES</h3>
                <h3 class="cles">CLÉSCHIFFRES</h3>
                <h2 class="pourcentage">{{ performance_contrat_percent_elec_val | virgule1 }} %</h2>
                
                <div class="support_engagement">
                    <p class="eco_surconso">{{ eco_surconso }} pour un engagement <br>non contractuel de</p>
                    <h2 class="pourcentage-contrat" style="color: #00a250;">{{ engagement_contract_elec_val }} %</h2>
                    <!-- <h2 class="pourcentage-contrat" style="color: {{engagement_color}}">{{ engagement_contract_elec_val }} %</h2> -->
                </div>
            </div>
            
            <div class="ajustement"></div>

            <div class="support-conso">
                <div class="support-conso_colonne-gauche">
                    <p>Consommation Prédite sans AEE de</p>
                    <p>Consommation Réelle de</p>
                    <hr class="hr-conso">
                    <p>Soit {{ gain_perte_elec }} de</p>
                </div>
                
                <div class="support-conso_colonne-droite">
                    <p>{{ modele_predictif_elec_val | virgule1 }} <span class="unite">{{modele_predictif_elec_unit}}</span></p>
                    <p>{{ consommation_reelle_elec_val | virgule1 }} <span class="unite">{{consommation_reelle_elec_unit}}</span></p>
                    <hr class="hr-resultat">
                    <p>{{ performance_contrat_kwh_elec | virgule1 }} <span class="unite">MWh</span></p>
                </div>
            </div>
                     
            <div class="ajustement"></div>
            
            <div class="support-graphique">
                <h2>Superposition des consommations - {{ periode_client }}</h2>
                <img class="graphic_image" src="{{ superposition_predictif_reelle_alvend }}" alt="superposition_predictif_reelle-picture">
            </div>

            <hr class="bottom_hr_bleu">
            <p class="bas_page">{{ name_client }} <b>|</b> Rapport de Performance Énergétique <b>|</b> {{ periode_client }}</p>
        </div>


        <!-- ################################################## -->
        <!-- #######   PAGE ANALYSE CPE ANNEE Combiné   ####### -->
        <!-- ################################################## -->
        <div class="client_machine_page">
            <div class="titre">
                <h1>Résultat CPE Annuel<br>Électricité</h1>
            </div>

            <div class="chiffres-cles">
                <h3 class="chiffres">CHIFFRES</h3>
                <h3 class="cles">CLÉS</h3>
                <h2 class="pourcentage">{{ performance_contrat_percent_elec_year_val| virgule1  }} %</h2>
                
                <div class="support_engagement">
                    <p class="eco_surconso">{{ eco_surconso_year }} pour un engagement <br>non contractuel de</p>
                    <h2 class="pourcentage-contrat" style="color: #00a250;">{{ engagement_contract_elec_year_val }} %</h2>
                    <!-- <h2 class="pourcentage-contrat" style="color: {{engagement_color}}">{{ engagement_contract_elec_year_val }} %</h2> -->
                </div>
            </div>    

            <div class="ajustement"></div>


            <div class="support-conso">
                <div class="support-conso_colonne-gauche">
                    <p>Consommation Prédite sans AEE de</p>
                    <p>Consommation Réelle de</p>
                    <hr class="hr-conso">
                    <p>Soit {{ gain_perte_elec_year }} de</p>
                </div>
                
                <div class="support-conso_colonne-droite">
                    <p>{{ modele_predictif_elec_year_val| virgule1  }} <span class="unite">{{modele_predictif_elec_year_unit}}</span></p>
                    <p>{{ consommation_reelle_elec_year_val| virgule1  }} <span class="unite">{{consommation_reelle_elec_year_unit}}</span></p>
                    <hr class="hr-resultat">
                    <p>{{ performance_contrat_kwh_elec_year| virgule1  }} <span class="unite">MWh</span></p>
                </div>
            </div>


            <div class="ajustement"></div>


            <div class="support-graphique">
                <h2>Superposition des consommations de {{date_debut_cpe_annuel}} à {{ periode_client }}</h2>
                <img class="graphic_image" src="{{ superposition_predictif_reelle_year_alvend }}" alt="superposition_predictif_reelle-picture">
            </div>

            <hr class="bottom_hr_bleu">
            <p class="bas_page">{{ name_client }} <b>|</b> Rapport de Performance Énergétique <b>|</b> {{ periode_client }}</p>
            <!-- <p class="bas_page">{{ name_client }} <b>|</b> Rapport de Performance Énergétique <b>|</b> Mars 2024 - {{ periode_client }}</p> -->
        </div>       


        <!-- ###################################### -->
        <!-- #### PAGE 1 ANALYSE OPERATIONNELLE ###-->
        <!-- ###################################### -->
        <div class="client_machine_page" id="analyse_operationnelle_client_machine_page_1">
            <div class="titre">
                <h1>Analyse<br>Opérationnelle</h1>
            </div>
            <div class="support-graphique">
                <h2>Températures relevées</h2>
                <img  src="{{ temperatures }}" alt="temperatures-picture">
            </div>
            <hr class="bottom_hr_bleu">
            <p class="bas_page">{{ name_client }} <b>|</b> Rapport de Performance Énergétique <b>|</b> {{ periode_client }}</p>  
        </div>

        <!-- ###################################### -->
        <!-- #### PAGE 2 ANALYSE OPERATIONNELLE ###-->
        <!-- ###################################### -->
        <div class="client_machine_page" id="analyse_operationnelle_client_machine_page_2">
            <div class="support-graphique">
                <h2>Mode de fonctionnement</h2>
                <img src="{{ mode_fonctionnement_alvend }}" alt="mode_fonctionnement-picture">
            </div>
            <div class="support-graphique">
                <h2>Taux de compression des circuits</h2>
                <img src="{{ taux_compression_alvend }}" alt="taux_de_compression-picture">
            </div>
            <div class="support-graphique">
                <h2>Surchauffe et sous-refroidissement, Circuit 1</h2>
                <img src="{{ sante_circuit_1 }}" alt="sante_circuit_1-picture">
            </div>
            <div class="support-graphique">
                <h2>Surchauffe et sous-refroidissement, Circuit 2</h2>
                <img src="{{ sante_circuit_2 }}" alt="sante_circuit_2-picture">
            </div>          
            <hr class="bottom_hr_bleu">
            <p class="bas_page">{{ name_client }} <b>|</b> Rapport de Performance Énergétique <b>|</b> {{ periode_client }}</p>
        </div>


        <!-- ###################################### -->
        <!-- #### PAGE 3 ANALYSE OPERATIONNELLE ###-->
        <!-- ###################################### -->
        <div class="client_machine_page" id="analyse_operationnelle_client_machine_page_3">
            <div class="support-graphique">
                <h2>Puissances des compresseurs</h2>
                <img src="{{ intensite_compresseurs }}" alt="intensite_compresseurs-picture">
            </div>

            <div class="support-graphique">
                <h2>Démarrage et temps de fonctionnement par compresseur</h2>
                {% for slug, data in valeurs_multi.items() %}
                {% for key, panel in data.valeurs.items() %}
                    {% if key.endswith("_table_panel") and panel %}
                    <table class="demarrage_temps_circuit_table">
                        <thead>
                        <tr>
                            <th>Compresseur</th>
                            <th>Temps de fonctionnement total</th>
                            <th>Nombre de démarrage</th>
                            <th>Temps de fonctionnement moyen</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ligne in panel %}
                        <tr>
                            <td>{{ ligne["Circuit"] }}</td>
                            <td>{{ ligne["Temps de fonctionnement total"] }} min</td>
                            <td>{{ ligne["Nombre de démarrage"] }}</td>
                            <td>
                            {{ ligne["Temps moyen de fonctionnement"] | float | round | int }} min
                            {% if "Temps moyen de fonctionnement" in ligne %}
                                {% if ligne["Temps moyen de fonctionnement"]|int > 5 %}
                                <img src="../images/green_valid.png" alt="validité" />
                                {% else %}
                                <img src="../images/blanc.png" alt="alerte" />
                                {% endif %}
                            {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                {% endfor %}
                {% endfor %}
            </div>   
            <div class="support-graphique">
                <h2>Optimisation Énergetique</h2>
                <img src="{{ optimisation_energetique }}" alt="optimisation_energetique-picture">
            </div>
            <div class="support-graphique">
                <h2>Rendement compresseur des circuits</h2>
                <img src="{{ rendement_compresseur }}" alt="rendement_compresseur-picture">
            </div>
            <hr class="bottom_hr_bleu">
            <p class="bas_page">{{ name_client }} <b>|</b> Rapport de Performance Énergétique <b>|</b> {{ periode_client }}</p>
        </div>


        <!-- ###################################### -->
        <!-- #### PAGE 4 ANALYSE OPERATIONNELLE ### -->
        <!-- ###################################### -->
        <!-- <div class="client_machine_page" id="analyse_operationnelle_client_machine_page_4">
            <div class="support-graphique">
                <h2>Mode de fonctionnement</h2>
                <img src="{{ mode_fonctionnement_alvend }}" alt="mode_fonctionnement-picture">
            </div>
            <hr class="bottom_hr_bleu">
            <p class="bas_page">{{ name_client }} <b>|</b> Rapport de Performance Énergétique <b>|</b> {{ periode_client }}</p>
        </div> -->



        <!-- ###################################### -->
        <!-- #### PAGE 5 ANALYSE OPERATIONNELLE ###-->
        <!-- ###################################### -->
        <!-- <div class="client_machine_page" id="analyse_operationnelle_client_machine_page_5">
            <div class="support_items">
                <h2 class="h2_items">Mode de fonctionnement des circuits</h2>
                <img class="graphic_image" src="{{ mode_fonctionnement }}" alt="mode_fonctionnement-picture">
            </div>

            <div class="support_items">
                <h2 class="h2_items">Puissances moyennes en fonctionnement du circuit <br>{{ periode_client }}</h2>
                <div class="support_table_puissance">
                    <table class="puissances_moyennes_fonctionnement_table">
                        <tr>
                            <th></th>
                            <th>Circuit 1</th>
                            <th>Circuit 2</th>
                            <th>Circuit 3</th>
                            <th>Circuit 4</th>
                        </tr>
                        <tr>
                            <td>Puissance<br>Froid</td>
                            <td>{{ Puissance_froid_0 }} kW</td>
                            <td>{{ Puissance_froid_1 }} kW</td>
                            <td>{{ Puissance_froid_2 }} kW</td>
                            <td>{{ Puissance_froid_3 }} kW</td>
                        </tr>
                        <tr>
                            <td>Puissance<br>Chaud</td>
                            <td>{{ Puissance_chaud_0 }} kW</td>
                            <td>{{ Puissance_chaud_1 }} kW</td>
                            <td>{{ Puissance_chaud_2 }} kW</td>
                            <td>{{ Puissance_chaud_3 }} kW</td>
                        </tr>
                    </table>
                    
                    <table class="puissances_electrique_table">
                        <tr>
                            <th>Puissance Électrique Machine</th>
                        </tr>
                        <tr>
                            <td>{{ puissance_electrique_machine }} kW</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="support_h2_lien">
                <h2 class="h2_lien">Accédez en temps réel à vos données<br></h2>
                <a href="https://view.preprod.fitt-solutions.fr/d/be2fz0k9ij3swc/alvend-accueil?orgId=4" target="_blank">En cliquant ici !</a>
            </div>
            
            <hr class="bottom_hr_bleu">
            <p class="bas_page">{{ name_client }} <b>|</b> Rapport de Performance Énergétique <b>|</b> {{ periode_client }}</p>
        </div> -->

    </main>
